{% extends './base.html' %}
{% block title %}Accueil - Spotilike{% endblock %} 
{%block content %}

    <div class="container mx-auto p-8">
        <h2 class="text-3xl font-semibold mb-4">Tous les Artistes</h2>
        <ul class="list-disc pl-6">
            {% for artist in artists %}
                <div class="max-w-sm rounded overflow-hidden shadow-lg">
                    <img class="w-full" src="../{{artist.avatar }}" alt="{{ artist.name }}">
                    <div class="px-6 py-4">
                      <div class="font-bold text-xl mb-2">{{ artist.name }}</div>
                      <p>{{ artist.biography }}</p>
                    </div>
                  </div>
            {% endfor %}
        </ul>
    </div>
    {% endblock %}

