{% extends './base.html' %}
{% block title %}Détails de l'Artiste - Spotilike{% endblock %} 

{% block content %}
<div class="container mx-auto p-8 grid grid-cols-2 gap-8">
    <div class="bg-gray-100 rounded-lg overflow-hidden shadow-neo p-4 transition duration-300 transform hover:shadow-lg hover:scale-105">
        <h2 class="text-3xl font-semibold mb-4 text-gray-900">
            <a href="{% url 'artist_detail' artist.id %}">{{ artist.name }}</a>
        </h2>
        <p class="text-gray-600">{{ artist.biography }}</p>
        <h3 class="text-xl font-semibold mt-4 mb-2">Albums</h3>
        <div class="grid grid-cols-3 gap-4">
            {% for album in artist.album_set.all %}
                <div class="bg-gray-200 rounded-lg overflow-hidden shadow-neo p-2 transition duration-300 transform hover:shadow-lg hover:scale-105">
                    <a href="{% url 'album_detail' album_id=album.id %}">
                        <img class="w-full mb-2 rounded-md" src="{{ album.cover }}" alt="{{ album.title }}">
                        <p class="text-gray-800 text-sm text-center">{{ album.title }}</p>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="bg-gray-100 rounded-lg overflow-hidden shadow-neo p-4 transition duration-300 transform hover:shadow-lg hover:scale-105">
        <img class="w-full mb-4 rounded-md" src="{{ artist.avatar }}" alt="{{ artist.name }}">
    </div>
</div>
{% endblock %}
