{% extends './base.html' %}
{% block title %}Accueil - Spotilike{% endblock %} 

{% block content %}
    <div class="container mx-auto p-8 text-center">
        <h1 class="text-4xl font-bold mb-6 text-gray-900">Bienvenue sur Spotilike</h1>
        <p class="text-gray-600 mb-10">Découvrez et partagez votre musique préférée.</p>

        <div class="space-x-4">
            <a href="{% url 'login' %}" class="bg-green-500 text-white py-2 px-4 rounded hover:bg-green-600">Connexion</a>
            
            <a href="{% url 'signup' %}" class="bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-600">Inscription</a>
        </div>
    </div>
{% endblock %}
