{% extends './base.html' %}
{% load static %} 
{% block title %}Accueil - Spotilike{% endblock %}

{% block content %}
    <div class="container mx-auto p-8 text-center bg-black dark:bg-gray-800">
        <!-- Header Section -->
        <div class="bg-green-500 mb-8 p-6 bg-white dark:bg-gray-700 rounded-md shadow-neo flex flex-col items-center">
            <img src="{% static 'images/logo_spotilike.png' %}" alt="Spotilike Logo" class="w-16 h-16 rounded-full mb-4 border-2 border-gray-300 dark:border-gray-600 p-1">
            <h1 class="text-4xl font-bold text-grey-500 dark:text-green-300">Bienvenue sur Spotilike</h1>
            <p class="text-gray-500 dark:text-gray-500 mb-4">Découvrez et partagez votre musique préférée.</p>
            <div class="space-x-4 flex items-center">
                <a href="{% url 'login' %}" class="bg-green-500 text-white py-2 px-4 rounded hover:bg-green-600 transition duration-300 transform hover:scale-105">Connexion</a>
                <a href="{% url 'signup' %}" class="bg-black text-white py-2 px-4 rounded hover:bg-gray-700 transition duration-300 transform hover:scale-105">Inscription</a>
            </div>
        </div>

        <!-- Featured Albums Section -->
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                <div class="bg-green dark:bg-gray-700 p-6 rounded-md shadow-neo hover:shadow-xl transition-transform transform hover:scale-105">
                    <a href="{% url 'albums' %}">
                        <img src="{% static 'images/album.png' %}" alt="ImageAlbum" class="w-full h-48 object-cover mb-4 rounded-md">
                        <p class="text-green-500 dark:text-green-300 font-bold text-lg mb-2">Tous les Albums</p>
                    </a>
                </div>

                <div class="bg-green dark:bg-gray-700 p-6 rounded-md shadow-neo hover:shadow-xl transition-transform transform hover:scale-105">
                    <a href="{% url 'artists' %}">
                        <img src="{% static 'images/artist.png' %}" alt="ImageArtist" class="w-full h-48 object-cover mb-4 rounded-md">
                        <p class="text-green-500 dark:text-green-300 font-bold text-lg mb-2">Tous les Artistes</p>
                    </a>
                </div>
        </div>
    </div>
{% endblock %}
